{% extends 'base.html' %}
{% block content %}

<h1>Destinations Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ destination.name }}</span>
    <p>Country: {{ destination.country }}</p>
    <p>State: {{ destination.state|linebreaks }}</p>
    <p>City: {{ destination.city|linebreaks }}</p>
    <p>Transport: {{ destination.transport|linebreaks }}</p>
    <p>Start Date: {{ destination.start_date|linebreaks }}</p>
    <p>End Date: {{ destination.end_date|linebreaks }}</p>
    <p>Accomodations: {{ destination.accomodation|linebreaks }}</p>
  </div>
    <div class="card-action">
      <a href="{% url 'destinations_update' destination.id %}">Edit</a>
      <a href="{% url 'destinations_delete' destination.id %}">Delete</a>
    </div>
</div>


<div>
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Activities</th>
      </tr>
    </thead>
    <tbody>
      {% for itinerary in destination.itinerary_set.all %}
      <tr>
        <td>{{itinerary.date}}</td>
        <td>{{itinerary.time}}</td>
        <td>{{itinerary.get_activities_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}