{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit This Post</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Edit BLOG POST" class="btn blue-grey lighten-1">
  </form>
{% else %}

  <h1>ADD BLOG POST</h1>

<form action="" method="POST" class="white-text">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="ADD BLOG POST" class="btn blue-grey lighten-1">
</form>
{% endif %}

{% endblock %}