body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #2e4052;
  color: seashell;
}

main {
  flex: 1 0 auto;
  margin: 5vmin;
}


.nav-wrapper {
  background-color: #2e4052;
  color: seashell;
}

.dropdown-content-link{
color: seashell;
}

.datepicker-modal {
  border-radius: 5vmin;
  padding: 4vmin;
}


.btn {
  border-radius: 2vmin;
  margin: 10px;
}

.datepicker-date-display {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  background-color: black;
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}

.btn-file {
  position: relative;
  overflow: hidden;
}


.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#index-container {
  display: grid;
  grid-template-columns: repeat(3, 35vmin);
  grid-template-rows: repeat(1, 22vmin);
  gap: 10vmin;
  margin: 5vmin 0 2vmin 0;
  padding-bottom: 4vmin;
}

section div #home-card{
  border-radius: 4vmin;
  padding: 2vmin;
  margin: 2vmin;
}

.card {
  border-radius: 5vmin;
  padding: 2.5vmin;
  color: #2e4052;
  text-align: center;
  font-weight: 600;
  padding-bottom: 4vmin;
  margin-bottom: 30vmin;
  background-color: seashell;
}

.blog-container {
  margin: 3vmin;
}

#destination-index{
  padding-bottom: 5vmin;
  height: 30vmin;
  background-color: seashell;
}

.card-action {
  margin: 5vmin;
  
}

label {
  font-size: large;
  padding: 0;
}

th {
  padding: -150px;
}

td {
  padding: -50px;
}

blockquote {
  font-size: 3vmin;
  font-style: italic;
}

form {
  color: seashell;
  background-color: seashell;
  padding: 30px;
  border-radius: 5vmin;
}

.journey-detail-top, .card-title {
  background-color: seashell;
  font-size: large;
  font-weight: 600;
  margin: 0;
}

.card-title {
  font-family: 'Staatliches', cursive;
  letter-spacing: .25vmin;
  margin: 0;
}

textarea {
  height: 10vmin;
}

#dropdown1 {
  background-color: seashell;
}

h1, h4 {
  font-family: 'Staatliches', cursive;
  letter-spacing: .25vmin;
}

img.circle {
  border-radius: 50vmin;
}

.card-reveal {
  background-color: seashell;
  line-height: 2.85vmin;
}

#collapse-bg {
  background-color: #2e4052;
  font-family: 'Staatliches', cursive;
  letter-spacing: .25vmin;
}

#about-font {
  font-size: 2vmin;
}

/* #collapse-icon {
  border-radius: 2vmin;
} */

#dropdown-content-link {
  color: #2e4052;
  font-family: 'Staatliches', cursive;
  letter-spacing: .25vmin;
}

#journey-msg, #update-msg {
  background-color: #2e4052;
}