{% extends 'base.html' %} 
{% block content %}
{% load static %}

  <h1>About JourneyMate</h1>
  <p>JourneyMate is your reliable travel companion, dedicated to simplifying your trip planning and keeping you informed about the weather conditions at your destination. With JourneyMate, you can effortlessly create and manage your travel itineraries while staying up-to-date with the latest weather forecasts.</p>

<h4>Key Features:</h4>
<ol>
  <li>Effortless Trip Planning: JourneyMate offers a user-friendly interface to create and organize your travel itineraries. From selecting destinations to managing activities, accommodations, and transportation, everything is streamlined for a smooth and enjoyable trip planning process.</li><br>
  <li>Real-Time Weather Updates: Stay informed about the weather conditions at your chosen destinations. JourneyMate integrates with reliable weather data sources to provide you with accurate and up-to-date weather forecasts, ensuring you’re prepared for your journey.</li><br>
  <li>Destination Insights: Explore detailed information about various destinations worldwide. Discover key attractions, landmarks, and points of interest to enhance your travel experiences. JourneyMate provides valuable insights to help you make the most of your trip.</li><br>
  <li>Travel Itinerary Management: Organize your travel itinerary seamlessly within JourneyMate. Keep track of your daily activities, accommodations, transportation, and more. JourneyMate serves as your centralized hub for all trip-related details, keeping you organized throughout your journey.</li><br>
  <li>Trip Memories: Capture and preserve your travel memories with JourneyMate. Document your adventures by adding photos, notes, and stories to your trip timeline. Create a digital travel journal that allows you to relive your experiences and share them with friends and family.</li><br>
</ol>  
<p>JourneyMate is your trusted companion for stress-free trip planning and weather updates. Whether you’re a solo traveler, a family on vacation, or a group of adventure seekers, JourneyMate provides the essential tools to plan your trips efficiently and stay informed about the weather conditions at your destinations.
Embark on unforgettable journeys with confidence and ease using JourneyMate. Start planning your next adventure today and experience the convenience of having all your travel information and weather updates in one place.</p>


<h4>About The Team</h4>
<div class="row">

  <div class="col s4">
    <img class="circle" width="200" src="{% static 'images/patton1.png' %}">
    <p>Patton Grooms is a motivated software engineer from Tennessee. He specializes in web development and delivering seamless user experiences. He is committed to personal growth, expert development, and fostering positive team environments. Patton's desire for adventure and new experiences is what led him to join the JourneyMate team.</p>
  </div>
  <div class="col s4">
    <img class="circle" width="200" src="{% static 'images/sam.png' %}">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur esse enim ducimus facere asperiores aut, atque, sequi nesciunt omnis, dolor reprehenderit quo numquam labore. Harum culpa laudantium assumenda ad repudiandae?</p>
  </div>
  <div class="col s4">
    <img class="circle" width="200" src="{% static 'images/taaj1.png' %}">
    <p>Taaj is most inspired by projects that are intentional, innovative, and impactful. He leverages his expertise in behavioral analytics to elevate the user experience. With full-stack technical skills and a passion for service, Taaj is eager to build accessible technology that changes the world of travel for the better. His desire for traveling and experiencing new cultures is what led him to the JourneyMate team.</p>
  </div>

</div>

<script>
$(document).ready(function(){
  $('.materialboxed').materialbox();
});
</script>


  {% endblock %}