{% load static %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
    <title>JourneyMate</title>
  </head>


  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul id="dropdown1" class="dropdown-content">

            <li><a class="dropdown-content-link blue-text text-darken-4" href="{% url 'about' %}">ABOUT</a></li>
            {% if user.is_authenticated %}
              <li><a class="blue-text text-darken-4" href="{% url 'destinations_create' %}">ADD A DESTINATION</a></li>
              <li><a class="blue-text text-darken-4" href="{% url 'index' %}">VIEW MY DESTINATIONS</a></li>
              <li><a class="blue-text text-darken-4" href="{% url 'blog_create' %}">MAKE A POST</a></li>
              <li><a
              href="{% url 'home' %}"
              class="blue-text text-darken-4"
              >VIEW ALL POSTS</a></li>
              <li><a class="blue-text text-darken-4" href="{% url 'logout' %}">LOG OUT</a></li>
            {% else %}
              <li><a class="blue-text text-darken-4" href="{% url 'signup' %}">SIGN UP</a></li>
              <li><a class="blue-text text-darken-4" href="{% url 'login' %}">LOG IN</a></li>
            {% endif %}
          </ul>

          <nav>
            <div class="nav-wrapper">
                <a
                  href="{% url 'home' %}"
                  class="left brand-logo amber-text text-accent-3"
                  >&nbsp;&nbsp;JourneyMate</a
                >
                <ul class="right show-on-small">
                <li><a class="dropdown-trigger amber-text text-accent-3" style="width: 200px !important" href="#!" data-target="dropdown1">MENU<i class="material-icons right">expand_more</i></a></li>
          </ul>
        </div>
      </nav>

    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <p>“Embark on Limitless Discoveries"</p>
    <footer>All Rights Reserved, &copy; 2023 JourneyMate</footer>
    </footer>
  </body>

  <script>
  $(document).ready(function(){
 	  $('.sidenav').sidenav();
     $(".dropdown-trigger").dropdown();
 	});
  </script>
</html>